* {margin: 0;
    box-sizing: border-box;

}
body{
   background-color:#e2e1e1;
}

p{
    color: #444444;
    line-height: 22px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.header{
    height: 4rem;
}
.logga{
    padding: 4px;
    max-width: 4rem;
}
.nav-logo {
 padding-left: 2rem;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

.hamburger {
    display: none;
    margin-top: 20px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #426BDB;
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 4rem;
}

.nav-link{
    font-size: 18px;
    font-family:'Poppins', sans-serif ;
    font-weight: 400;
    color: #426BDB;
}

.nav-link:hover{
    opacity: 0.6;
    color: #426BDB;
}



main img {
    width: 100%;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: #e2e1e1;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
            z-index: 2;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.6rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
}

.start{
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.start h1{
    color: rgb(99, 99, 99);
    font-family: 'poppins';
    
}

.container{
    display: inline-block;
    
}
.utbildning1{
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 4rem;
}
.utbildning1 img{
    max-width: 200px;
}
.utbildning1 div{
    max-width: 500px;
}
  .typed-out{
    color: #4176fc;
    overflow: hidden;
   white-space: nowrap;
    animation: 
      typing 1s forwards;
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }


.utbildning{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    gap: 4rem;
    padding-bottom: 4rem;
}
.utbildning img{
    max-width: 200px;
}
.utbildning div{
    max-width: 500px;
}
.utbildning div h2{
       margin-bottom: 1rem;
        color:rgb(99, 99, 99);
        font-family: 'Poppins', sans-serif;
    }
.bild{
    flex-shrink: 0;
}
.bild img{ 
    max-width: 270px;
}
.bild img{
    position: relative;
}
.innan{
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-top: 4rem;   
}
.innan h2{
    margin-bottom: 1rem;
    color: rgb(99, 99, 99);
    font-family: 'Poppins', sans-serif
}
.innan img {
    max-width: 300px;
}
.innan div{
    max-width: 500px;
}

@media only screen and (max-width: 950px){
    .utbildning{
        padding: 4rem;}
    .innan{
        padding: 4rem;
    }
}

img{
    display: block;
    width: 100%;
}
.colektiv{
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    gap: 2rem;
}
.sekton1{
    padding: 0px;
}
.sekton2{
    padding: 0px;
}

.sekton3{
    padding: 0px;
}
.text{
    max-width: 300px;
}
.text p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;;
   margin-top: 1rem;
}
.text h2{
    color: rgb(66, 66, 66);
    margin-top: 1rem;
}
.knapp{
    text-align: center;
   border-radius: 18px;
    border-style: solid #000;
    width: 220px;
    height: 36px; 
    margin-top: 22px;  
    background-color: #426BDB; 
    opacity: 1;
  transition: 0.3s;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  padding-top: 5px;
}
.knapp:hover {opacity: 0.6}

.knapp a{
    color: aliceblue;
}

.knapp1{
    text-align: center;
   border-radius: 18px;
    border-style: solid #000;
    width: 300px;
    height: 36px; 
    margin-top: 22px;  
    background-color: #426BDB; 
    opacity: 1;
  transition: 0.3s;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  padding-top: 5px;
}
.knapp1:hover {opacity: 0.6}

.knapp1 a{
    color: aliceblue;
}

.rubrik{
    padding-bottom: 1rem;
    color: rgb(99, 99, 99);
    font-family: 'Poppins', sans-serif;
   
}

.pro{
    display: flex;
    justify-content: center;
}
.pro video{   
width: 80%;

}

.footer {
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.footer h3{
    color: #426BDB;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;

}
.footer p {
    margin-top: 10px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.footer a{
    margin-bottom: 10px; 
    color: #bebebe;
    font-family: 'Poppins', sans-serif;
}
.footer a:hover{
    color: #426BDB;
}

@media only screen and (max-width: 768px){
    .colektiv{
        flex-direction: column;
    }
    .innan{
        flex-direction: column;
        gap: 2rem;
    }
    .utbildning{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
        padding-left: 4rem;
        gap: 0px;
        margin-top: 2rem;
    }
    .footer .footer2{
        margin-bottom: 4rem;
    }
    .start h1{
        font-size: 16px;
    }
    .typed-out{
        font-size: 18px;
    }
}